.testimonials__blockquote {
  margin: 0;
  margin-bottom: 0.5rem;
  @include set-font(0.88rem, 400, 1.5rem, $color-text);
}

.testimonials__cite {
  display: block;
  margin-top: 2rem;
  font-size: 0.75rem;
  font-weight: 700;
}

@media (min-width: $width-lg) {
  .testimonials__cite {
    font-size: 0.88rem;
  }
}
