.title {
  margin: 0;
  padding-top: 0.63rem;
  padding-bottom: 0.63rem;

  @include set-font(1rem, 700, 1.25rem, $black);
  text-transform: uppercase;

  &--round-icon {
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px;

    &::before {
      @include pseudo-absolute(40px, 40px);
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: $accent--main;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20;
    }
  }

  &--pen::before {
    background-image: url("../img/icon-pen.svg");
    background-size: 21px 24px;
  }

  &--design::before {
    background-image: url("../img/icon-design.svg");
    background-size: 21px 17px;
  }

  &--layers::before {
    background-image: url("../img/icon-layers.svg");
    background-size: 16px 16px;
  }

  &--plane::before {
    background-image: url("../img/icon-plane.svg");
    background-size: 26px 24px;
  }


  &--icon {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;

    &::before {
      @include pseudo-absolute(40px, 40px);
      top: 0;
      left: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20;
    }
  }

  &--works::before {
    background-image: url("../img/icon-arrow.svg");
    background-size: 14px 24px;
  }

  &--testimonials::before {
    background-image: url("../img/icon-comments.svg");
    background-size: 24px 23px;
  }

  &--clients::before {
    background-image: url("../img/icon-clients.svg");
    background-size: 24px 20px;
  }

  &--portfolio::before {
    background-image: url("../img/icon-brush.svg");
    background-size: 29px 26px;
  }

  &--contacts::before {
    background-image: url("../img/icon-email.svg");
    background-size: 24px 17px;
  }
}
