//fonts

$font-regular: "Roboto", "Arial", sans-serif;
$font-bold: "Roboto", "Arial", sans-serif;
$font-slider: "Lato", "Arial", sans-serif;


//colors

$white: #ffffff;
$black: #000000;
$color-text: #363636;
$color-btn: #0d0707;
$accent--main: #2aacc8;
$accent--compl: #e7e7e7;
$link-icons-hover: #626262;
$bg-section: #e8ebf1;
$bg-download: #e8fcfe;
$bg-slider: #81e4ed;
$bg-slide0:#e05936;
$bg-slide1:#4e8410;
$bg-slide2:#276c8e;
$bg-slide3:#e09136;
$bg-slide4:#602d97;
$slider-indicators: #626262;
$input-border: #b4bac5;


// breakpoints-bootstrap

$width-min: 320px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;


// adaptive images

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


