@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regulart.woff") format("woff"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #363636;
  background-color: #e8ebf1; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

*,
*:hover,
*:active,
*:focus {
  outline-color: #2aacc8; }

.modal-map__text {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636; }

.modal-map__wrapper {
  width: 260px;
  height: 200px;
  margin: 0 auto; }

.modal-map__link {
  width: 260px;
  height: 200px;
  border: none; }

.title {
  margin: 0;
  padding-top: 0.63rem;
  padding-bottom: 0.63rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #000000;
  text-transform: uppercase; }
  .title--round-icon {
    position: relative;
    margin-bottom: 20px;
    padding-left: 60px; }
    .title--round-icon::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      border-radius: 50%;
      background-color: #2aacc8;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20; }
  .title--pen::before {
    background-image: url("../img/icon-pen.svg");
    background-size: 21px 24px; }
  .title--design::before {
    background-image: url("../img/icon-design.svg");
    background-size: 21px 17px; }
  .title--layers::before {
    background-image: url("../img/icon-layers.svg");
    background-size: 16px 16px; }
  .title--plane::before {
    background-image: url("../img/icon-plane.svg");
    background-size: 26px 24px; }
  .title--icon {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px; }
    .title--icon::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      left: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20; }
  .title--works::before {
    background-image: url("../img/icon-arrow.svg");
    background-size: 14px 24px; }
  .title--testimonials::before {
    background-image: url("../img/icon-comments.svg");
    background-size: 24px 23px; }
  .title--clients::before {
    background-image: url("../img/icon-clients.svg");
    background-size: 24px 20px; }
  .title--portfolio::before {
    background-image: url("../img/icon-brush.svg");
    background-size: 29px 26px; }
  .title--contacts::before {
    background-image: url("../img/icon-email.svg");
    background-size: 24px 17px; }

.hr {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 0;
  border-top: 1px solid #e7e7e7; }

.button {
  display: inline-block;
  margin: 0;
  padding: 1.25rem 2rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.13rem;
  color: #0d0707;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
  border: 1px solid #2aacc8;
  background-color: #2aacc8;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2aacc8), color-stop(15%, #60cede), color-stop(50%, #72dae6), to(#81e4ed));
  background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .button:hover, .button:active {
    color: #ffffff; }
  .button--download {
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
    padding-left: 71px; }
    .button--download::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 8px;
      left: 20px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-download.svg");
      background-size: 28px 25px; }
  .button--submit {
    position: relative;
    max-width: 11.25rem;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 60px; }
    .button--submit::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      top: 8px;
      left: 10px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("../img/icon-submit.svg");
      background-size: 24px 24px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 195px;
  margin: 0;
  padding: 0;
  list-style: none; }

.social__link {
  display: block;
  width: 53px;
  height: 51px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-image: url("../img/sprite.png");
  background-size: 126px auto;
  background-repeat: no-repeat; }
  .social__link--fb {
    background-position: -63px -0px; }
  .social__link--dribble {
    background-position: -5px -0px; }
  .social__link--pinterest {
    background-position: -63px -56px; }
  .social__link--linkedin {
    background-position: -5px -56px; }
  .social__link--skype {
    background-position: -63px -112px; }
  .social__link--share {
    background-position: -5px -112px; }
  .social__link:hover {
    -webkit-box-shadow: 0 0 10px rgba(42, 172, 200, 0.9);
            box-shadow: 0 0 10px rgba(42, 172, 200, 0.9); }

.page-header {
  padding-top: 0.63rem;
  padding-bottom: 0.94rem;
  background-color: #e8ebf1; }

.page-title {
  margin: 0; }

.main-nav {
  padding: 0; }

.main-nav__collapse {
  margin-top: 10px; }

.main-nav__collapse .main-nav__link {
  padding-left: 12px;
  padding-right: 12px; }

.main-nav__link {
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: #000000;
  text-transform: uppercase;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .main-nav__link:hover {
    color: #2aacc8; }

.main-nav__item.active .main-nav__link {
  color: #2aacc8; }

.main-nav__item.show .main-nav__link {
  background-color: #ffffff;
  border-top: 5px solid #2aacc8; }

.main-nav__dropdown {
  margin: 0;
  padding: 0 6px;
  border: none;
  border-bottom: 5px solid #2aacc8;
  border-radius: 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.main-nav__link--dropdown {
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 2.25rem;
  color: #000000;
  text-transform: none;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .main-nav__link--dropdown:last-child {
    border-bottom: none; }
  .main-nav__link--dropdown:hover {
    color: #2aacc8;
    background-color: none; }

.main-nav__toggler {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 34px;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #2aacc8; }
  .main-nav__toggler:hover {
    cursor: pointer; }

.main-nav__icon--collapsed {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: block;
  width: 18px;
  height: 2px;
  background-color: #2aacc8;
  -webkit-box-shadow: 0 6px 0 0 #2aacc8, 0 12px 0 0 #2aacc8;
          box-shadow: 0 6px 0 0 #2aacc8, 0 12px 0 0 #2aacc8;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s; }

.main-nav__icon--opened {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  display: block; }
  .main-nav__icon--opened::before, .main-nav__icon--opened::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    top: 6px;
    right: 0;
    background-color: transparent;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .main-nav__icon--opened::before {
    background-color: #2aacc8;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav__icon--opened::after {
    background-color: #2aacc8;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.slider {
  padding-top: 20px;
  padding-bottom: 14px;
  background-color: #81e4ed; }

.slider__inner {
  padding-bottom: 27px; }

.slider__indicators {
  bottom: -27px; }

.slider__indicators .slider__indicator {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #626262;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }
  .slider__indicators .slider__indicator.active {
    background-color: #ffffff;
    opacity: 1; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 240px;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain; }

.slider__item--0 {
  background-color: #e05936; }

.slider__item--1 {
  background-color: #4e8410; }

.slider__item--2 {
  background-color: #276c8e; }

.slider__item--3 {
  background-color: #e09136; }

.slider__item--4 {
  background-color: #602d97; }

.slider__caption {
  max-width: 300px;
  margin-left: 20px;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #0d0707; }

.advantages {
  padding-top: 1.88rem;
  padding-bottom: 2.5rem; }

.advantages__item {
  margin-top: 1.25rem; }
  .advantages__item:first-child {
    margin-top: 0; }

.advantages__desc {
  margin: 0;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636; }

.advantages__link {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 10px;
  padding-left: 12px;
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #2aacc8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease; }
  .advantages__link::before {
    left: 0;
    top: 6px;
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #000000;
    border-top: none;
    border-left: none;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .advantages__link:hover {
    font-weight: 700;
    color: #2aacc8;
    text-decoration: none; }
    .advantages__link:hover::before {
      border-color: #2aacc8; }
  .advantages__link:active {
    font-weight: 700;
    color: #2aacc8;
    text-decoration: none; }
    .advantages__link:active::before {
      border-color: #2aacc8; }

.works {
  padding-top: 1.25rem;
  background-color: #ffffff;
  border: 1px solid transparent; }

.works__item {
  position: relative;
  width: 220px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 20px; }

.works__image {
  width: 100%;
  height: auto; }

.works__links {
  display: none; }

.works__item:hover .works__links {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  font-size: 0;
  background-color: #2aacc8; }

.works__link--preview {
  margin-left: auto;
  margin-right: 35px; }

.works__link--link {
  margin-right: auto; }

.works__link svg {
  fill: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.works__link:hover svg {
  fill: #626262; }

.works__spinner-show {
  display: inline-block;
  margin-left: 10px; }

.reviews {
  padding-bottom: 2.5rem;
  background-color: #ffffff; }

.testimonials__blockquote {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #363636; }

.testimonials__cite {
  display: block;
  margin-top: 2rem;
  font-size: 0.75rem;
  font-weight: 700; }

.clients__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 480px; }

.clients__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 100px;
  -webkit-box-shadow: inset 0 0 25px #e8ebf1;
          box-shadow: inset 0 0 25px #e8ebf1;
  border: 1px solid #e8ebf1;
  background-color: #ffffff; }

.download {
  padding-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.63rem;
  color: #363636;
  background-color: #ffffff; }

.download__wrapper {
  padding: 2.19rem;
  border: 1px solid #81e4ed;
  background-color: #e8fcfe; }

.download__text {
  margin: 0;
  margin-bottom: 1.25rem; }

.page-footer {
  padding-top: 1.88rem;
  padding-bottom: 3.13rem; }

.page-footer__logo {
  margin-bottom: 1.25em; }

.page-footer__text {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636; }

.page-footer__link {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .page-footer__link:hover {
    color: #2aacc8;
    text-decoration: none; }

.page-footer__developer {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #2aacc8;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .page-footer__developer:hover {
    color: #2aacc8;
    font-weight: 700;
    text-decoration: none; }

.nav-link {
  display: inline-block;
  width: auto;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636;
  padding: 0.25rem 1.25rem 0.25rem 0;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .nav-link:hover {
    color: #2aacc8;
    text-decoration: none; }

.portfolio {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #ffffff; }

.portfolio__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.portfolio__page-item--nav {
  margin-right: 16px; }
  .portfolio__page-item--nav:last-child {
    margin-right: 0; }

.portfolio__page-link {
  display: block;
  width: 1.63rem;
  height: 1.63rem;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.63rem;
  color: #000000;
  text-align: center; }
  .portfolio__page-link.active {
    background-color: #2aacc8; }
    .portfolio__page-link.active:hover {
      color: #000000;
      cursor: default; }
  .portfolio__page-link:hover {
    color: #2aacc8;
    text-decoration: none; }
  .portfolio__page-link--nav {
    font-size: 1.13rem;
    font-weight: 700;
    color: #2aacc8;
    background-color: #e8ebf1; }
    .portfolio__page-link--nav:hover {
      color: #000000; }
  .portfolio__page-link--disabled {
    color: #ffffff; }
    .portfolio__page-link--disabled:hover {
      color: #ffffff;
      cursor: default; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.tabs__link {
  display: block;
  padding: 0.5rem 1.06rem;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 0.88rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer; }
  .tabs__link.active {
    background-color: #2aacc8; }
    .tabs__link.active:hover {
      color: #000000; }
  .tabs__link:hover {
    color: #2aacc8;
    text-decoration: none; }

.contacts {
  padding-top: 2.81rem;
  padding-bottom: 2.5rem;
  background-color: #ffffff; }

.contacts__text {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636; }
  .contacts__text--map {
    margin: 0;
    margin-bottom: 1.25rem;
    font-weight: 700; }

.contacts__link {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #363636;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }
  .contacts__link:hover {
    color: #2aacc8;
    text-decoration: none; }
  .contacts__link--email {
    font-weight: 700;
    color: #2aacc8; }
    .contacts__link--email:hover {
      color: #363636; }

.contacts__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.contacts__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 480px; }

.contacts__label {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: #000000;
  margin: 0;
  margin-top: 0.5rem; }
  .contacts__label:hover {
    color: #2aacc8;
    cursor: pointer; }
  .contacts__label:hover + .contacts__input,
  .contacts__label:hover + .contacts__message {
    border-color: #2aacc8;
    outline: none; }

.contacts__input,
.contacts__message {
  height: 2.36rem;
  padding: 0.13rem 0.5rem;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 2.25rem;
  color: #363636;
  border: 1px solid #b4bac5; }
  .contacts__input:hover, .contacts__input:focus,
  .contacts__message:hover,
  .contacts__message:focus {
    border-color: #2aacc8;
    cursor: pointer;
    outline: none; }

.contacts__message {
  min-height: 80px; }

.contacts__map {
  max-width: 340px;
  padding: 20px;
  border: 1px solid #81e4ed;
  background-color: #e8fcfe; }

.contacts__map-wrapper {
  width: auto;
  max-width: 300px;
  margin: 0 auto;
  padding: 3px;
  background-color: #ffffff; }

.contacts__map-image {
  width: 100%;
  height: auto; }

.contacts__address {
  margin-top: 35px; }

@media (min-width: 576px) {
  .modal-map__wrapper,
  .modal-map__link {
    width: 450px;
    height: 350px; }
  .slider__item {
    height: 300px; }
  .slider__caption {
    font-size: 40px;
    line-height: 50px; }
  .advantages__item:nth-child(2) {
    margin-top: 0; } }

@media (min-width: 992px) {
  .modal-map__wrapper,
  .modal-map__link {
    width: 600px;
    height: 450px; }
      .button--submit {
        margin-bottom: 0; }
  .page-header {
    padding-top: 2.19rem;
    padding-bottom: 2.88rem; }
  .main-nav__collapse {
    margin-top: 0; }
  .main-nav__collapse .main-nav__item {
    padding-left: 34px; }
  .main-nav__collapse .main-nav__link {
    padding-left: 0;
    padding-right: 0; }
  .main-nav__item:first-child {
    padding-left: 0; }
  .main-nav__link {
    border-top: 5px solid transparent; }
  .main-nav__item.active .main-nav__link {
    border-top: 5px solid #2aacc8; }
  .main-nav__dropdown {
    left: 34px; }
  .slider__item {
    height: 440px; }
  .slider__caption {
    margin-left: 60px;
    color: #ffffff; }
  .advantages {
    padding-top: 3.75rem; }
  .advantages__item {
    margin-top: 0; }
    .advantages__item:nth-child(n+5) {
      margin-top: 1.25rem; }
  .works__item-wrapper {
    margin-right: 20px; }
  :nth-child(4n) {
    margin-right: 0; }
  .testimonials__cite {
    font-size: 0.88rem; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .social__link {
    background-image: url("../img/sprite@2x.png"); }
  .slider__item {
    background-image: url("../img/slide-1@2x.png"); } }

@media (min-width: 768px) {
  .page-header {
    padding-top: 1.25rem;
    padding-bottom: 1.56rem; }
  .slider__item {
    height: 370px; }
  .slider__caption {
    margin-left: 40px;
    font-size: 50px;
    line-height: 60px; }
  .slider__indicators .slider__indicator {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-left: 8px; }
  .advantages {
    padding-top: 3.13rem;
    padding-bottom: 3.13rem; }
  .page-footer__logo {
    margin-bottom: 0; }
  .contacts__message {
    min-height: 160px; } }
